
.block-eventos{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20rem;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}
.block-eventos{
    grid-template-rows: 18rem;
    
}
.block-eventos__texto{
    padding-top: 2rem;
}
.block-eventos__imagen-propiedades{
    width: 80%;
    transition: 0.5s;
}
 .block-servicios__titulo, .block-eventos__texto-titulo,.block-servicios__titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.block-servicios{
    display: grid;
    grid-template-columns: 30% 50%;
    padding-bottom: 2rem;
    justify-content: center;
    background-color: #a1858c1e;
    margin-bottom: 3rem;

}
.block-eventos__texto-titulo{
    padding-top: 0px;
}
.block-eventos__imagen-propiedades{
    width: 80%;
}
.block-eventos__imagen-propiedades:hover{
    border-radius: 30px;
    transform: scale(1.1);
}
/*-----*/

@media (min-width: 1200px){
    section h2 {
        font-size: 2.5rem;
    }
    footer .gridFooter{
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (max-width: 1024px) {
    header section img{
        width: 15%;
        }
        .block-eventos {
            grid-template-columns: 40% 40%;
            grid-template-rows: 15rem;
            gap: 1rem;
            justify-content: center;
            text-align: center;
        }
        footer .gridFooter{
            grid-template-columns: 50% 50%;
        }
        section h2 {
            font-size: 2.5rem;
        }
}
@media (max-width: 768px) {
    header section img {
        width: 15%;
    }
    .block-servicios {
        grid-template-columns: 80%;
        margin-bottom: 3rem;
    }
    .multiple{
        display: grid;
    }
    .block-servicios__titulo{
         padding-top: 0px
    }
    .multiple li:hover ul{
        display: block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.767)
    }
    section h2 {
        font-size: 2rem;
    }
    .block-eventos {
        grid-template-columns: 40% 40%;
        grid-template-rows: 15rem;
        gap: 1rem;
        justify-content: center;
        text-align: center;
    }
    footer .gridFooter{
        grid-template-columns: 50% 50%;
    }
  }
  @media (max-width: 480px) {
    .block-eventos {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 13rem;
        gap: 1rem;
        justify-content: center;
        text-align: center;
    }
    header section img{
        width: 20%;
        }
        .multiple{
            display: grid;
        }
        footer .gridFooter{
            grid-template-columns: 100%;
        }
        .multiple li:hover ul{
            display: block;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.767)
        }
        section h2 {
            font-size: 2rem;
        }
        .block-servicios {
            grid-template-columns: 80%;
            margin-bottom: 3rem;
        }
  }
  